<div  class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <!-- <a routerLink="view-student" class="nav-link" class="btn btn-primary active" role="button" >View Student</a> -->
          <td><button (click)="view_Student()" class='btn btn-primary'>View Student</button>
        </li>&nbsp;
        <li class="nav-item">
          <!-- <a  routerLink="add-student" class="nav-link" class="btn btn-primary active" role="button" >Add Student</a> -->
          <td><button (click)="add_Student()" class='btn btn-primary'>Add Student</button>
        </li> 
        &nbsp;  
        <li class="nav-item ">
          <!-- <a routerLink="view-student" class="nav-link" class="btn btn-primary active" role="button" >View Student</a> -->
          <td><button (click)="view_User()" class='btn btn-primary'>View User</button>
        </li>&nbsp;
        <li class="nav-item">
          <!-- <a  routerLink="add-student" class="nav-link" class="btn btn-primary active" role="button" >Add Student</a> -->
          <td><button (click)="add_User()" class='btn btn-primary'>Add User</button>
        </li> 
        &nbsp;   
        <li class="nav-item">
            <td><button (click)="logout()" class='btn btn-primary'>logout</button>
            </li>         
      </ul>
    </nav>   
      <router-outlet></router-outlet>
  </div>

<div class="panel panel-default" style="display: block;margin: 30px auto;float: none;width: 50%;">
    
  <div class="panel-heading">
      <h1 style="text-align: center">User</h1><br>
      <div class="row" [hidden]="!deleteMessage">
           
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                        <div class="alert alert-info alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>User Data Deleted</strong>
                        </div>
                </div>
                <div class="col-sm-4"></div>
        </div>           
    </div>

  
  <div class="panel-body">
      <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"  >
          <thead class="thead-light">
              <tr>
                  <th>User Name</th>
                  <th>User password</th>
                  <th>User FirstName</th>
                  <th>User LastName</th>
                  <th>User Token</th>
                  <th>User Role</th>
                  
              </tr>
          </thead>
          <tbody>
               <tr *ngFor="let user of users ">
                  <td>{{user.username}}</td>
                  <td>{{user.password}}</td>
                  <td>{{user.FirstName}}</td>
                  <td>{{user.LastName}}</td>
                  <td>{{user.Token}}</td>
                  <td>{{user.Role}}</td>
                    <td><button (click)="deleteUser(user.id)" class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>&nbsp;
                    <button (click)="updateUser(user.id)" class='btn btn-info'
                    data-toggle="modal" data-target="#myModal">Update</button>
                  </td>
                </tr> 
          </tbody><br>
      </table>
  </div>
</div> 

<div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
                <form [formGroup]="userupdateform" #updstu (ngSubmit)="updateUse(updateUse)">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title" style="text-align: center">Update User</h4>
              
            </div>
            
            <!-- Modal body -->
            <div class="modal-body" *ngFor="let student of userlist " >
                <div [hidden]="isupdated">

                    <input type="hidden" class="form-control"  formControlName="id" [(ngModel)]="user.id">
                            <div class="form-group">
                                <label for="name">User Name</label>
                                <input type="text" class="form-control"  formControlName="username" [(ngModel)]="user.username"  >
                            </div>
                    
                            <div class="form-group">
                              <label for="name">User </label>
                              <input type="text" class="form-control"  formControlName="password" [(ngModel)]="user.password"  >
                          </div>
                          <div class="form-group">
                            <label for="name">User </label>
                            <input type="text" class="form-control"  formControlName="firstName" [(ngModel)]="user.firstName"  >
                        </div>

                        <div class="form-group">
                          <label for="name">User </label>
                          <input type="text" class="form-control"  formControlName="lastName" [(ngModel)]="user.lastName"  >
                      </div>
                            <div class="form-group">
                                <label for="name">Student Email</label>
                                <input type="text" class="form-control" formControlName="token" [(ngModel)]="user.token">
                            </div>

                            <!-- <div class="form-group">
                              <label for="role_type">Role_Type</label>
                              <select class="form-control" formControlName="role" >
                                   <option label="--select something --"></option>
                              <option [value]="role" *ngFor="let role of selectFormControl">{{role}}</option>
                            </select>
                          </div> -->
                    
                            <!-- <div class="form-group">
                                <label for="name">Student Branch</label>
                                  <select class="form-control" formControlName="student_branch" required>                                   
                                    <option value="B-Tech" [selected]="'B-Tech' == student.student_branch">B-Tech</option>
                                    <option value="BCA" [selected]="'BCA' == student.student_branch">BCA</option>
                                    <option value="MCA" [selected]="'MCA' == student.student_branch" >MCA</option>
                                    <option value="M-Tech" [selected]="'M-Tech' == student.student_branch">M-Tech</option>
                                  </select>                               
                            </div>                    -->
                  </div>  
                  <div [hidden]="!isupdated">
                      <h4>Student Detail Updated!</h4>
                  </div>        
                    
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer" >
              <button type="submit" class="btn btn-success" [hidden]="isupdated">Update</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>
            </div>
            
        </form>
          </div>
        </div>
      </div>