<div  class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <!-- <a routerLink="view-student" class="nav-link" class="btn btn-primary active" role="button" >View Student</a> -->
          <td><button (click)="view_Student()" class='btn btn-primary'>View Student</button>
        </li>&nbsp;
        <li class="nav-item">
          <!-- <a  routerLink="add-student" class="nav-link" class="btn btn-primary active" role="button" >Add Student</a> -->
          <td><button (click)="add_Student()" class='btn btn-primary'>Add Student</button>
        </li> 
        &nbsp;  
        <li class="nav-item ">
          <!-- <a routerLink="view-student" class="nav-link" class="btn btn-primary active" role="button" >View Student</a> -->
          <td><button (click)="view_User()" class='btn btn-primary'>View User</button>
        </li>&nbsp;
        <li class="nav-item">
          <!-- <a  routerLink="add-student" class="nav-link" class="btn btn-primary active" role="button" >Add Student</a> -->
          <td><button (click)="add_User()" class='btn btn-primary'>Add User</button>
        </li> 
        &nbsp;  
        <li class="nav-item">
            <td><button (click)="logout()" class='btn btn-primary'>logout</button>
            </li>         
      </ul>
    </nav>   
      <router-outlet></router-outlet>
  </div>